In [2]:
import pandas as pd
import numpy as np
import string

In [3]:
# Load the dataset from csv to pandas
dataDir = '/Users/sachinjain/personal/hdrive/data/courses/coursera-ml-foundations/amazon_product_reviews/'
dataPath = dataDir + 'amazon_baby.csv'
trainDataIndexFile = dataDir + 'train-idx.json'
testDataIndexFile = dataDir + 'test-idx.json'


products = pd.read_csv(dataPath)

products.count()

name      183213
review    182702
rating    183531
dtype: int64

In [4]:
def remove_punctuation(text):
    # This uses the 3-argument version of str.maketrans
    # with arguments (x, y, z) where 'x' and 'y'
    # must be equal-length strings and characters in 'x'
    # are replaced by characters in 'y'. 'z'
    # is a string (string.punctuation here)
    # where each character in the string is mapped
    # to None
    translator = str.maketrans('', '', string.punctuation)
    
    if type(text) is str:
        return text.translate(translator)
    else:
        return text

In [5]:
remove_punctuation(2)
remove_punctuation('sachin.jain@gmail.com')

'sachinjaingmailcom'

In [6]:
products.head()

,name,review,rating
0,Planetwise Flannel Wipes,"These flannel wipes are OK, but in my opinion ...",3
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5

In [7]:
# Add a new column to products data by removing punctuation in the reviews
products['review_clean'] = products['review'].apply(remove_punctuation)

### Fill all N/A values with empty strings

In [8]:
products = products.fillna({'review':''})

### We will ignore all reviews with rating = 3, since they tend to have a neutral sentiment.

In [9]:
products = products[products['rating'] != 3]

In [10]:
products.count()

name            166456
review          166752
rating          166752
review_clean    165975
dtype: int64

In [11]:
products.head()

,name,review,rating,review_clean
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5,it came early and was not disappointed i love ...
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5,Very soft and comfortable and warmer than it l...
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5,This is a product well worth the purchase I h...
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5,All of my kids have cried nonstop when I tried...
5,Stop Pacifier Sucking without tears with Thumb...,"When the Binky Fairy came to our house, we did...",5,When the Binky Fairy came to our house we didn...

### Convert 4,5 rating to +1 label and 1,2 rating to -1 label

In [12]:
products['sentiment'] = products['rating'].apply(lambda rating: +1 if rating > 3 else -1)

In [13]:
products.head()

,name,review,rating,review_clean,sentiment
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5,it came early and was not disappointed i love ...,1
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5,Very soft and comfortable and warmer than it l...,1
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5,This is a product well worth the purchase I h...,1
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5,All of my kids have cried nonstop when I tried...,1
5,Stop Pacifier Sucking without tears with Thumb...,"When the Binky Fairy came to our house, we did...",5,When the Binky Fairy came to our house we didn...,1

### Split the data into train_data and test_data

In [26]:
def get_indices(filePath):
    with open(filePath, 'r') as fp:
        indices_as_strings = fp.read()[1:-1].split(', ')

    indices_as_numbers = [ int(x) for x in indices_as_strings ]
    
    return indices_as_numbers

In [27]:
train_indices = get_indices(trainDataIndexFile)
test_indices = get_indices(testDataIndexFile)

In [28]:
train_data = products.take(train_indices, is_copy=True)
test_data = products.take(test_indices, is_copy=True)

In [29]:
train_data.head()

,name,review,rating,review_clean,sentiment
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5,it came early and was not disappointed i love ...,1
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5,Very soft and comfortable and warmer than it l...,1
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5,This is a product well worth the purchase I h...,1
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5,All of my kids have cried nonstop when I tried...,1
5,Stop Pacifier Sucking without tears with Thumb...,"When the Binky Fairy came to our house, we did...",5,When the Binky Fairy came to our house we didn...,1